.formContent {
  display: flex;
  gap: 20px;
  margin-top: 50px;
  margin-left: 100px;
  width: auto;
  flex-direction: column;
}
.formContent h4 {
  margin-bottom: 10px;
}

.rootSection {
  width: 100%;
}
.content {
  display: flex;
}
